*
!.vimrc
!.dotfile_scripts/
!.zshrc
!.general_aliases
!.jshintrc
!.linux_aliases
!.osx_aliases
!.global_gitignore
# Ignore all in warp except workflows folder
!.warp/
.warp/*
!.warp/workflows/
!.warp/workflows/*
!.warp/workflows/**/*
