!*
Package\ Control.last-run
Package\ Control.ca-list
Package\ Control.ca-bundle
Package\ Control.system-ca-bundle
Package\ Control.cache/**
Package\ Control.ca-certs/**
oscrypto-ca-bundle.crt

sftp_servers/**
linters
Sublimerge\ Macros.sublime-commands
